<div class="col-lg-4 cell">
    <div onclick="location.href='{video_page_link}';" class="card clickable">
        <img src="{thumbnail_path}" class="card-img-top" style="height: 360; width: 640;" alt="Thumbnail">
        <div class="card-body">
            <h6 class="search-show text-muted fw-light">{show_name}</h6>
            <h5 class="card-title"><a class="search-title text-decoration-none text-black">{title}</a></h5>
            <p class="card-text">{description}</p>
        </div>
    </div>
</div>